.App {
  text-align: center;
}

.options {
  position: absolute;
  left: 0;
  z-index: 5;
}

.option {
  background-size: cover;
  background-position: 50%;
  background-color: white;
  margin-bottom: 3px;
  padding: 10px;
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.option:hover {
  border-left: 5px solid white;
  width: 58px;
}

.option.--is-active {
  border-right: 3px solid red;
  width: 58px;
  cursor: default;
}

.option.--is-active:hover {
  border-left: none;
}

.option img {
  height: 100%;
  width: auto;
  pointer-events: none;
}

@media (max-width: 960px) {
  .options {
    top: 0;
  }
}

@media (max-width: 680px) {
  .options {
    bottom: 50px;
  }

  .option {
    margin-bottom: 1px;
    padding: 5px;
    height: 45px;
    width: 45px;
    display: flex;
  }

  .option.--is-active {
    border-right: 2px solid red;
    width: 47px;
  }

  .option img {
    height: 100%;
    width: auto;
    pointer-events: none;
  }
}
