.App {
  text-align: center;
}

.options {
  position: absolute;
  left: 0;
  z-index: 5;
}

.option {
  background-size: cover;
  background-position: 50%;
  background-color: white;
  margin-bottom: 3px;
  padding: 10px;
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.option:hover {
  border-left: 5px solid white;
  width: 58px;
}

.option.--is-active {
  border-right: 3px solid red;
  width: 58px;
  cursor: default;
}

.option.--is-active:hover {
  border-left: none;
}

.option img {
  height: 100%;
  width: auto;
  pointer-events: none;
}

@media (max-width: 960px) {
  .options {
    top: 0;
  }
}

@media (max-width: 680px) {
  .options {
    bottom: 50px;
  }

  .option {
    margin-bottom: 1px;
    padding: 5px;
    height: 45px;
    width: 45px;
    display: flex;
  }

  .option.--is-active {
    border-right: 2px solid red;
    width: 47px;
  }

  .option img {
    height: 100%;
    width: auto;
    pointer-events: none;
  }
}

.tray {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.tray__slide {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  left: 0;
}

.tray__swatch {
  transition: 0.1s ease-in;
  height: 50px;
  min-width: 40px;
  max-width: 100px;
  flex: 1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center;
}
